html,
body,
.nk-wrap {
    height: 100%;
}

main {
    background: black url('../media/bg_aboutus.png') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin-top: 0px;
}

.home_content_image {
    height: 100%;
}

.box {
    position: absolute;
    right: 0;
    top: 0;
}

.content-about-us {
    width: calc(50% - 31px);
    height: calc(100% - 204px);
    float: left;
    display: block;
    margin: 126px 0px 78px;
    overflow-y: auto;
    padding: 0px 41px 0px 0px;
    box-sizing: border-box;
}

.content-about-us::-webkit-scrollbar {
    width: 2px;
}

.content-about-us::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.content-about-us::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
}

.content-about-us p,
.content-about-us div {
    color: #fff;
    font-size: 16px;
    font-family: Nunito !important;
    line-height: 24px;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    float: left;
}

.content-about-us p,
.content-about-us div,
.content-about-us div span,
.content-about-us div p,
.content-about-us div a,
.content-about-us div h1 {
    font-family: Nunito !important;
}

.logo-content-about-us {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-content-about-us.pc-display img {
    height: 96px;
}

.pc-display {
    display: flex;
}

.mobile-display {
    display: none;
}

@media screen and (max-width: 1024px) {
    .content-about-us {
        float: right;
        width: 100% !important;
        ;
        height: unset;
        margin: unset;
        padding: 0px;
    }
    .logo-content-about-us {
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
        height: unset;
    }
    .logo-content-about-us img {
        width: 300px;
        height: 100px;
        object-fit: contain;
        object-position: center;
        margin-top: 20px;
    }
    .home_content_image {
        display: block;
        height: 100%;
        overflow: hidden;
    }
    .pc-display {
        display: none !important;
    }
    .mobile-display {
        display: flex;
    }
    main {
        padding: 80px 0px;
        overflow: hidden;
        margin: 0px;
    }
    .content-about-us {
        padding: 0px 48px 0px 48px;
        text-align: justify;
        height: 100%;
        overflow: auto;
    }
    .content-about-us p {
        color: #fff;
        font-size: 16px;
        font-family: PlayfairDisplayItalic;
        width: 100%;
        padding: unset;
        margin-bottom: 20px;
    }
}