@media screen and (max-width: 1024px) {}

@media only screen and (max-width: 1025px) {
    body {
        background-attachment: fixed !important;
        overflow-x: auto;
        padding-bottom: 50px;
        height: unset;
        box-sizing: border-box;
        background: #7b0000ff;
    }
    main {
        height: unset;
        background: unset;
        padding: 0px 15px;
    }
    .home_content_image {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 111px;
    }
    .home_content_image .contact,
    .home_content_image .contactForm,
    .home_content_image .contactInfo {
        position: relative;
        left: unset;
        right: unset;
        bottom: unset;
        top: unset;
        width: 100%;
        margin-right: unset;
        margin-left: unset;
        margin-bottom: 17px;
    }
    .home_content_image .contactForm .name_input {
        width: 100%;
    }
    .logo-content-about-us {
        height: unset;
        width: 100%;
        padding: 0px 15px;
        margin-top: 95px;
        margin-bottom: 10px;
        display: block;
    }
    .logo-content-about-us.pc-display img {
        width: 80%;
        float: left;
        height: unset;
    }
    .content-about-us {
        width: 100%;
        padding: 10px 15px;
        overflow: hidden;
        display: block;
        float: left;
        width: 100%;
        height: unset;
    }
    .home_content_image .contactForm .sendBtn {
        width: 100%;
    }
    .height-auto {
        height: unset;
    }
    .home_content_image .contact .titleTop,
    .home_content_image .contactForm .titleTop,
    .home_content_image .contactInfo .titleTop {
        line-height: 24px;
        margin-bottom: 8px;
    }
    .home_content_image .contact .desTop,
    .home_content_image .contactForm .desTop,
    .home_content_image .contactInfo .desTop {
        line-height: 20px;
        margin-bottom: 16px;
    }
    .home_content_image .contact .titleBox {
        line-height: 16px;
        margin-bottom: 8px;
    }
    .home_content_image .contact .dessBox {
        margin-bottom: 15px;
        line-height: 20px;
        text-decoration: none !important;
        color: #fff !important;
    }
    .home_content_image .contact .height-auto p:last-child {
        margin-bottom: unset;
    }
    .home_content_image .contactForm .titleBox {
        line-height: 16px;
        margin-bottom: 8px;
    }
    .home_content_image .contactForm .name_input {
        margin-bottom: 15px;
    }
}