main {
    padding: 105px 31px;
    background: #7b0000ff;
}

.home_content_image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.home_content_image .contact {
    width: 30%;
    float: left;
    margin-right: 3%;
    height: 100%;
    overflow: hidden;
    animation-duration: 2s;
    animation-name: slidein;
    position: absolute;
    left: 0;
}

@-webkit-keyframes slidein {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.home_content_image .contact .titleTop {
    width: 100%;
    font-size: 24px;
    color: #fff;
    font-family: OswaldRegular;
    line-height: 40px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.home_content_image .contact .desTop {
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-family: Nunito;
    line-height: 20px;
    opacity: 0.8;
    margin-bottom: 30px;
}

.home_content_image .contact .titleBox {
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-family: OswaldRegular;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.home_content_image .contact .dessBox {
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-family: Nunito;
    line-height: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.home_content_image .contactForm {
    width: 34%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    animation-duration: 2s;
    animation-name: slideinForm;
    left: 33%;
}

@-webkit-keyframes slideinForm {
    from {
        bottom: -200%;
    }
    to {
        bottom: 0px;
    }
}

.home_content_image .contactForm .titleTop {
    width: 100%;
    font-size: 24px;
    color: #fff;
    font-family: OswaldRegular;
    line-height: 40px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.home_content_image .contactForm .desTop {
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-family: Nunito;
    line-height: 20px;
    opacity: 0.8;
    margin-bottom: 30px;
}

.home_content_image .contactForm .titleBox {
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-family: OswaldRegular;
    line-height: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.home_content_image .contactForm .name_input {
    width: 70%;
    font-size: 16px;
    color: #fff;
    font-family: Nunito;
    line-height: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
    border: unset;
    background: unset;
    border-bottom: 1px solid rgba(196, 196, 196, 0.74);
}

.home_content_image .contactForm .name_input:focus {
    border: unset;
    background: unset;
    border-bottom: 1px solid rgba(196, 196, 196, 0.74);
    box-shadow: unset;
    outline: none;
}

.home_content_image .contactForm .sendBtn {
    width: 70%;
    font-size: 16px;
    color: #fff;
    font-family: OswaldRegular;
    line-height: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: right;
    background: unset;
    border: unset;
}

.home_content_image .contactForm .sendBtn:focus {
    box-shadow: unset;
    outline: none;
    border: unset;
    background: unset;
}

.home_content_image .contactInfo {
    width: 30%;
    float: left;
    margin-left: 3%;
    height: 100%;
    overflow: hidden;
    animation-duration: 2s;
    animation-name: slideinInfo;
    position: absolute;
    right: 0;
    top: 0;
}

@-webkit-keyframes slideinInfo {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

.home_content_image .contactInfo .titleTop {
    width: 100%;
    font-size: 24px;
    color: #fff;
    font-family: OswaldRegular;
    line-height: 40px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.home_content_image .contactInfo .desTop {
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-family: Nunito;
    line-height: 20px;
    opacity: 0.8;
    margin-bottom: 30px;
}

.home_content_image .contactInfo .titleBox {
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-family: OswaldRegular;
    line-height: 20px;
    margin-bottom: 10px;
}

.home_content_image .contactInfo .dessBox {
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-family: Nunito;
    line-height: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.home_content_image .contactInfo .map {
    width: 100%;
}

.home_content_image .contactInfo .map iframe {
    border-radius: 20px;
    height: 100%;
    width: calc(100% - 22px);
}