@media screen and (max-width: 1024px) {}

@media only screen and (max-width: 576px) {
    body {
        background-attachment: fixed !important;
        overflow-x: auto;
        padding-bottom: 50px;
        height: unset;
        box-sizing: border-box;
        background: #7b0000ff;
    }
    main {
        height: unset;
        background: unset;
        padding: 0px 15px;
    }
    .home_content_image {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 95px;
    }
    .home_content_image .contact,
    .home_content_image .contactForm,
    .home_content_image .contactInfo {
        position: relative;
        left: unset;
        right: unset;
        bottom: unset;
        top: unset;
        width: 100%;
        margin-right: unset;
    }
    .home_content_image .contactForm .name_input {
        width: 100%;
    }
    .logo-content-about-us {
        height: unset;
        width: 100%;
        padding: 0px 15px;
        margin-top: 95px;
        margin-bottom: 10px;
        display: block;
    }
    .logo-content-about-us.pc-display img {
        width: 80%;
        float: left;
        height: unset;
    }
    .content-about-us {
        width: 100%;
        padding: 10px 15px;
        overflow: hidden;
        display: block;
        float: left;
        width: 100%;
        height: unset;
    }
}