@media screen and (max-width: 1024px) {}

@media only screen and (max-width: 1025px) {
    body {
        background-attachment: fixed !important;
        overflow-x: auto;
        padding-bottom: 50px;
        height: unset;
        box-sizing: border-box;
        background: #000;
    }
    main {
        height: unset;
        background: unset;
        padding: unset;
    }
    .home_content_image {
        flex-direction: column;
        display: flex;
        padding: 0px 15px;
        margin-top: 95px;
    }
    .pc_style_slide {
        padding: unset;
    }
    .logo-content-about-us {
        height: unset;
        width: 100%;
        padding: 0px 15px;
        margin-bottom: 10px;
        display: block;
    }
    .logo-content-about-us.pc-display img {
        width: 80%;
        float: left;
        height: unset;
    }
    .content-about-us {
        width: 100%;
        padding: 10px 15px;
        overflow: hidden;
        display: block;
        float: left;
        width: 100%;
        height: unset;
    }
    .slide-story {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }
    .slide-story .item,
    .pc_style_slide .item.first,
    .pc_style_slide .item.last {
        width: 100%;
        float: left;
        margin-right: unset;
        height: unset;
        padding-top: unset;
        margin-bottom: 15px;
    }
    .slide-story .item a .box_info {
        display: none;
    }
    .slide-story .item .image_size img {
        height: 200px;
        float: left;
    }
    .pc_style_slide .item .image_size {
        height: unset;
        float: left;
    }
    .slide-story .item .image_size .hoverBgStory {
        position: relative;
        display: block;
        opacity: 1;
        float: left;
    }
    .pc_style_slide .item .image_size .hoverBgStory .description,
    .pc_style_slide .item .image_size .hoverBgStory .title {
        position: relative;
        float: left;
        width: 100%;
        bottom: unset !important;
        left: unset !important;
        margin: 15px 0px 0px 15px;
    }
    .bg_style {
        padding: unset;
    }
    .pc_style_slide {
        padding: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .pc_style_slide .video_big,
    .pc_style_slide.slide-2 .video_big {
        width: 100%;
        float: left;
        height: unset;
        margin-right: unset;
        margin-bottom: 15px;
    }
    .pc_style_slide .video_big .item .block .desscription {
        display: none !important;
    }
    .pc_style_slide .video_small {
        width: 100%;
        float: left;
        height: unset;
        margin-right: unset;
    }
    .pc_style_slide .video_small .video_content {
        height: unset;
    }
    .pc_style_slide .video_small .item:first-child {
        margin-bottom: unset;
    }
    .pc_style_slide .video_small .item {
        margin-bottom: 15px !important;
        float: left;
        width: 100%;
        height: unset !important;
    }
    .pc_style_slide .video_small .item .block img.bg,
    .pc_style_slide .video_big .item .block img.bg {
        height: 200px;
    }
    .title_play {
        line-height: 34px !important;
    }
    .title_play,
    .title_play_des {
        position: relative !important;
        width: 100% !important;
        float: left !important;
        left: unset !important;
        right: unset !important;
        bottom: unset !important;
        padding-left: unset !important;
        box-sizing: border-box !important;
        margin-top: unset !important;
        margin: 16px 0px 0px 16px !important;
    }
    .title_play_des {
        margin-top: 8px !important;
        line-height: 16px !important;
    }
    .seemoreMobile {
        color: #fff;
        font-size: 16px;
        font-family: Nunito;
        position: relative;
        width: 100% !important;
        float: left !important;
        left: unset !important;
        right: unset !important;
        bottom: unset !important;
        padding-left: unset !important;
        box-sizing: border-box !important;
        margin-top: unset !important;
        line-height: 16px;
        opacity: 0.8;
        margin: 8px 0px 0px 16px !important;
    }
    .videoDetail {
        padding: 0px 15px;
    }
    .videoDetail .contentDetailVideo {
        padding: unset;
        margin-top: 95px;
    }
    .videoDetail .contentDetailVideo .content-about-us {
        padding: unset;
    }
}