html,
body,
.nk-wrap {
    height: 100%;
}

.pc-display {
    display: flex;
}

.mobile-display {
    display: none;
}

main {
    background: #000;
    background: black url('../media/black.png') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin-top: 0px;
    transition: background-image 0.2s ease-in-out;
}

.nk-wrap {
    background: #000;
}


/*.box {
    position:absolute ;
    right: 0px;
    top: 0px;
    z-index: 10000;
}*/

.header_title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}

.header_title .title {
    color: #fff;
    font-size: 16px;
    font-family: OswaldRegular;
    margin: 0px;
}

.header_title .description {
    color: #fff;
    font-size: 14px;
    font-family: PlayfairDisplayItalic;
    margin: 0px;
}

.bg_style {
    padding: 0 31px;
}

.home_content_image {
    overflow: hidden;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.home_content_image::-webkit-scrollbar {
    width: 2px;
}

.home_content_image::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.home_content_image::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
}

.mobile_style_slide {
    display: none;
}

.pc_style_slide {
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 22px;
    padding-bottom: 3%;
    box-sizing: border-box;
    padding-top: 3%;
}

.pc_style_slide .video_big {
    width: 66%;
    float: left;
    height: 100%;
    margin-right: 2%;
}

.pc_style_slide.slide-2 .video_big {
    width: 66%;
    float: right;
    height: 100%;
    margin-left: 2%;
    margin-right: unset;
}

.pc_style_slide .video_big .item {
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.pc_style_slide .video_big .item .block {
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
    border-radius: 10px;
}

.pc_style_slide .video_big .item .block img.bg {
    width: 100%;
    float: left;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: transform .5s ease;
}

.pc_style_slide .video_big .item:hover .block img.bg {
    transform: scale(1.2);
}

.pc_style_slide .video_big .item .block .title {
    color: #fff;
    font-size: 14px;
    font-family: OswaldRegular;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 40px;
    line-height: 14px;
}

.pc_style_slide .video_big .item .block .description {
    color: #fff;
    font-size: 12px;
    font-family: PlayfairDisplayItalic;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    line-height: 12px;
}

.pc_style_slide .video_big .item .block .play {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.pc_style_slide .video_big .item .block .bg_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    left: 0;
    top: 0;
    opacity: 0;
}

.pc_style_slide .video_big .item .block .seemore {
    color: #fff;
    font-size: 16px;
    font-family: Nunito;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: -30px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 100;
}

.pc_style_slide .video_big .item .block .desscription {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-family: Nunito;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 0px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 100;
    width: 50%;
}

.pc_style_slide .video_big .item .block .desscription p {
    margin-bottom: unset;
}

.pc_style_slide .video_big .item .block .title_play {
    color: #fff;
    font-size: 24px;
    font-family: OswaldRegular;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 50px;
    opacity: 0.8;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 100;
    font-weight: bold;
    line-height: 30px;
}

.pc_style_slide .video_big .item .block .title_play_des {
    color: #fff;
    font-size: 16px;
    font-family: Nunito;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    opacity: 0.8;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 100;
}

.pc_style_slide .video_big .item:hover .block .title_play {
    opacity: 1;
    transform: translate(0, -150px);
    transition: transform 0.2s linear;
}

.pc_style_slide .video_big .item:hover .block .seemore {
    opacity: 1;
    transform: translate(0, -50px);
    transition: transform 0.5s;
}

.pc_style_slide .video_big .item:hover .block .title_play_des {
    opacity: 1;
    transform: translate(0, -150px);
    transition: transform 0.5s;
}

.pc_style_slide .video_big .item:hover .block .bg_bg {
    opacity: 1;
}

.pc_style_slide .video_big .item:hover .block .desscription {
    opacity: 1;
    transform: translate(0, -125px);
    transition: transform 0.5s;
}

.pc_style_slide .video_small {
    width: 32%;
    float: left;
    height: 100%;
    position: relative;
}

.pc_style_slide .video_small .video_content {
    width: 100%;
    float: left;
    height: 100%;
    overflow-y: hidden;
}

.pc_style_slide .video_small .olv_nav {
    position: absolute;
    width: 50px;
    height: 100%;
    left: calc(50% - 25px);
    top: 0px;
}

.pc_style_slide .video_small .olv_nav .nav_pre {
    position: absolute;
    top: -30px;
    color: #fff;
    width: 50px;
    z-index: 1000;
    border: 0px;
    background: unset;
    outline: none;
}

.pc_style_slide .video_small .olv_nav .nav_pre:hover {
    color: #7b0100;
}

.pc_style_slide .video_small .olv_nav .nav_next {
    position: absolute;
    bottom: -30px;
    color: #fff;
    width: 50px;
    z-index: 1000;
    border: 0px;
    background: unset;
    outline: none;
}

.pc_style_slide .video_small .olv_nav .nav_next:hover {
    color: #7b0100;
}

.pc_style_slide .video_small .video_content::-webkit-scrollbar {
    width: 2px;
}

.pc_style_slide .video_small .video_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.pc_style_slide .video_small .video_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
}

.pc_style_slide .video_small .item {
    display: block;
    width: 100%;
    position: relative;
    height: calc(50% - 1vw);
    overflow: hidden;
    border-radius: 10px;
}

.pc_style_slide .video_small .item:first-child {
    margin-bottom: 2vw;
}

.pc_style_slide .video_small .item .block {
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
    border-radius: 10px;
}

.pc_style_slide .video_small .item .block img.bg {
    width: 100%;
    float: left;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: transform .5s ease;
}

.pc_style_slide .video_small .item:hover .block img.bg {
    transform: scale(1.2);
}

.pc_style_slide .video_small .item .block .title {
    color: #fff;
    font-size: 14px;
    font-family: OswaldRegular;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 40px;
    line-height: 14px;
}

.pc_style_slide .video_small .item .block .description {
    color: #fff;
    font-size: 12px;
    font-family: PlayfairDisplayItalic;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    line-height: 12px;
}

.pc_style_slide .video_small .item .block .title_play {
    color: #fff;
    font-size: 24px;
    font-family: OswaldRegular;
    margin: 0px;
    line-height: 30px;
    position: absolute;
    left: 20px;
    bottom: 40px;
    opacity: 0.8;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 100;
}

.pc_style_slide .video_small .item .block .title_play_des {
    color: #fff;
    font-size: 16px;
    font-family: Nunito;
    margin: 0px;
    line-height: 16px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    opacity: 0.8;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 100;
}

.pc_style_slide .video_small .item .block .seemore {
    color: #fff;
    font-size: 16px;
    font-family: Nunito;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: -30px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 100;
    line-height: 16px;
}

.pc_style_slide .video_small .item .block .bg_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    left: 0;
    top: 0;
    opacity: 0;
}

.pc_style_slide .video_small .item:hover .block .title_play {
    opacity: 1;
    transform: translate(0, -50px);
    transition: transform 0.2s linear;
}

.pc_style_slide .video_small .item:hover .block .title_play_des {
    opacity: 1;
    transform: translate(0, -50px);
    transition: transform 0.3s linear;
}

.pc_style_slide .video_small .item:hover .block .bg_bg {
    opacity: 1;
}

.pc_style_slide .video_small .item:hover .block .seemore {
    opacity: 1;
    transform: translate(0, -50px);
    transition: transform 0.3s linear;
}

.pc_style_slide .video_small .item .block .play {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.pc_style_slide .owl-carousel,
.pc_style_slide .owl-carousel .owl-stage-outer,
.pc_style_slide .owl-carousel .owl-stage-outer .owl-stage,
.pc_style_slide .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    height: 100%;
}

.pc_style_slide .owl-carousel .item {
    display: block;
    height: 100%;
    position: relative;
}

.pc_style_slide .owl-carousel .item .block {
    height: 50%;
    float: left;
    width: 100%;
    position: relative;
}

.pc_style_slide .owl-carousel .item .block .title {
    color: #fff;
    font-size: 14px;
    font-family: OswaldRegular;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 40px;
    line-height: 14px;
}

.pc_style_slide .owl-carousel .item .block .description {
    color: #fff;
    font-size: 12px;
    font-family: PlayfairDisplayItalic;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    line-height: 12px;
}

.pc_style_slide .owl-carousel .item .block .play {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.pc_style_slide .owl-carousel .item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.pc_style_slide .owl-carousel .owl-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5px;
}

.header_title .description span::after {
    content: "/";
    margin: 0px 10px;
}

.header_title .description span:last-child::after {
    content: "";
}

.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 10px;
    height: 10px;
    outline: none;
}

.arrow:hover {
    border-color: #7b0100;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    outline: none;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}