@media screen and (max-width: 1024px) {}

@media only screen and (max-width: 576px) {
    body {}
    .home_content_image {
        margin-top: unset;
    }
    .videoDetail {
        padding: unset;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        height: unset;
        z-index: 100;
    }
    .videoDetail .close_video {
        right: unset;
        bottom: unset;
        left: unset;
        top: unset;
        position: relative;
        z-index: 100;
        height: 95px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .videoDetail .contentDetailVideo {
        height: unset;
        overflow: hidden;
        margin-top: unset;
    }
}