html,
body,
.nk-wrap {
    height: 100%;
}

.pc-display {
    display: flex;
}

.mobile-display {
    display: none;
}

main {
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin-top: 0px;
    transition: background-image 0.2s ease-in-out;
}

.nk-wrap {
    background: #000;
}


/* .box {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10000;
} */

.header_title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}

.header_title .title {
    color: #7b0100;
    font-size: 16px;
    font-family: OswaldRegular;
    margin: 0px;
}

.header_title .description {
    color: #7b0100;
    font-size: 14px;
    font-family: PlayfairDisplayItalic;
    margin: 0px;
}

.home_content_image {
    padding: 0px 31px;
    overflow: hidden;
    height: 100%;
}

.mobile_style_slide {
    display: none;
}

.pc_style_slide {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    float: left;
    padding-right: 23px;
}

.pc_style_slide::-webkit-scrollbar {
    width: 2px;
}

.pc_style_slide::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.pc_style_slide::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
}

.pc_style_slide .item {
    width: 32%;
    float: left;
    margin-right: 2%;
    height: 100%;
    padding-top: 3%;
}

.pc_style_slide .item a {
    float: left;
    height: 100%;
    width: 100%;
}

.pc_style_slide .item.first {
    width: 32%;
    margin-right: 2%;
    float: left;
    height: 100%;
}

.pc_style_slide .item.last {
    width: 32%;
    float: left;
    margin-right: unset;
    height: 100%;
}

.pc_style_slide .item .image_size {
    width: 100%;
    border-radius: 20px;
    height: calc(50% - 30px);
    margin-bottom: 30px;
    object-fit: cover;
    object-position: center;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    position: relative;
}
.pc_style_slide .item .image_size.bigSize {
    width: 100%;
    border-radius: 20px;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    object-fit: cover;
    object-position: center;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
    position: relative;
}

.pc_style_slide .item .image_size .hoverBgStory {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #00000079;
    border-radius: 20px;
    z-index: 100;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.pc_style_slide .item:hover .image_size .hoverBgStory {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.pc_style_slide .item .image_size .hoverBgStory .title {
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-family: OswaldRegular;
    margin: 0px;
    margin-bottom: 5px;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.pc_style_slide .item .image_size .hoverBgStory .title span {
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-family: OswaldRegular;
    margin: 0px;
    margin-bottom: 10px;
}

.pc_style_slide .item .image_size .hoverBgStory .description {
    color: #fff;
    font-size: 16px;
    font-family: Nunito;
    margin: 0px;
    position: absolute;
    bottom: 5px;
    left: 20px;
}


/*  */

.pc_style_slide .item .image_size img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.pc_style_slide .item .box_info {
    background: #131212;
    border-radius: 20px;
    width: 100%;
    height: 45%;
    padding: 20px 20px 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 5%;
    line-height: 22px;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.pc_style_slide .item .box_info .title {
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-family: OswaldRegular;
    margin: 0px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.pc_style_slide .item .box_info .title span {
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-family: OswaldRegular;
    margin: 0px;
    margin-bottom: 10px;
}

.pc_style_slide .item .box_info .description {
    color: #fff;
    font-size: 16px;
    font-family: Nunito;
    margin: 0px;
}

.pc_style_slide .owl-carousel,
.pc_style_slide .owl-carousel .owl-stage-outer,
.pc_style_slide .owl-carousel .owl-stage-outer .owl-stage,
.pc_style_slide .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    height: 100%;
}

.pc_style_slide .owl-carousel .item {
    display: block;
    height: 100%;
    position: relative;
    margin: 0px 5px 0px 0px;
}

.pc_style_slide .owl-carousel .item .block {
    height: 50%;
    float: left;
    width: 100%;
    position: relative;
    border-radius: 10px;
    margin: 0px 0px 5px;
    overflow: hidden;
}

.pc_style_slide .owl-carousel .item .block {
    overflow: hidden;
}

.pc_style_slide .owl-carousel .item .block:hover img.bg {
    transform: scale(1.2);
}

.pc_style_slide .owl-carousel .item .block .title {
    color: #fff;
    font-size: 14px;
    font-family: OswaldRegular;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 40px;
    line-height: 14px;
    opacity: 0.4;
}

.pc_style_slide .owl-carousel .item .block .description {
    color: #fff;
    font-size: 12px;
    font-family: PlayfairDisplayItalic;
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    line-height: 12px;
    opacity: 0.4;
}

.pc_style_slide .owl-carousel .item .block:hover p {
    opacity: 1;
}

.pc_style_slide .owl-carousel .item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 10px;
}

.pc_style_slide .owl-carousel .owl-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5px;
}

.pc_style_slide .owl-carousel .owl-nav {
    position: absolute;
    top: calc(50% - 45px);
    margin: 0px;
    z-index: 1000;
    width: 100%;
}

.pc_style_slide .owl-carousel .owl-nav .owl-prev {
    outline: none;
    position: absolute;
    left: -30px;
    font-size: 50px;
    background: unset !important;
}

.pc_style_slide .owl-carousel .owl-nav .owl-next {
    outline: none;
    position: absolute;
    right: -30px;
    font-size: 50px;
    background: unset !important;
}

.pc_style_slide .owl-carousel .owl-nav .owl-next:hover {
    color: #7b0100;
}

.slide-story {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    float: left;
}

.while_imp {
    color: #fff !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}