@media screen and (max-width: 1024px) {}

@media only screen and (max-width: 576px) {
    footer {
        display: none;
    }
    header {
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .header_menu {
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .header_search {
        float: right;
        height: 24px;
        margin: 0px 20px 0px 0px;
        display: flex;
        align-items: center;
        position: absolute;
        right: 35px;
        top: 15px;
    }
    .header_search a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
    }
    .box {
        width: 100%;
        right: -100%;
        border-radius: 0px;
    }
    .close_menu_box {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #981d20 !important;
        font-weight: bold;
        font-size: 16px;
        position: absolute;
        right: 60px;
        font-family: Nunito;
        bottom: 60px;
    }
    .close_menu_box i {
        margin-left: 5px;
    }
    .menu_mail_left .menuList .menu_item {
        padding: 0px 0px 0px 60px;
    }
    .headerBlock {
        position: relative;
        float: left;
        background: #000;
        border-bottom: unset;
    }
}