@media screen and (max-width: 1024px) {}

@media only screen and (max-width: 1025px) {
    footer {
        display: none;
    }
    header {
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .header_menu {
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .header_search {
        float: right;
        height: 24px;
        margin: 0px 20px 0px 0px;
        display: flex;
        align-items: center;
        position: absolute;
        right: 35px;
        top: 15px;
    }
    .header_search a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
    }
    .header_menu a {
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header_titleLogo {
        position: absolute;
        top: 15px;
        right: 70px;
        margin: 0px 20px 0px 0px;
    }
    .box {
        width: 100%;
        right: -100%;
        border-radius: 0px;
    }
    .close_menu_box {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #981d20 !important;
        font-weight: bold;
        font-size: 16px;
        position: absolute;
        right: 60px;
        font-family: Nunito;
        bottom: 60px;
    }
    .close_menu_box i {
        margin-left: 5px;
    }
    .menu_mail_left .menuList .menu_item {
        padding: 0px 0px 0px 60px;
    }
    .headerBlock {
        position: relative;
        float: left;
        background: #000;
        border-bottom: unset;
    }
    .moveTopBtn {
        position: fixed;
        z-index: 100;
        bottom: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
        display: none;
    }
    .mobileMenuFooter {
        width: 100%;
        position: fixed;
        z-index: 102;
        background: #981d20;
        bottom: -110px;
        left: 0;
        justify-content: center;
        align-items: center;
        padding: 16px 15px;
        border-radius: 20px 20px 0px 0px;
        flex-direction: column;
    }
    .mobileMenuFooter .menuFooterLink {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        float: left;
        margin-bottom: 16px;
    }
    .mobileMenuFooter .menuFooterLink a.linkStatic {
        color: #fff;
        font-size: 16px;
        font-family: OswaldRegular;
        text-transform: uppercase;
        line-height: 16px;
    }
    .mobileMenuFooter .menuFooterSocial {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin-bottom: 16px;
    }
    .mobileMenuFooter .menuFooterSocial a {
        padding: 0px 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mobileMenuFooter .menuFooterSocial a svg {
        height: 18px;
        width: auto;
    }
    .mobileMenuFooter .menuFooterCopyright {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin-bottom: 0px;
    }
    .mobileMenuFooter .menuFooterCopyright p {
        color: #fff;
        font-size: 12px;
        font-family: Nunito;
        margin-bottom: 0px;
        line-height: 12px;
    }
}