@media screen and (max-width: 1024px) {}

@media only screen and (max-width: 576px) {
    footer {
        display: none;
    }
    header {
        padding: 15px;
        position: absolute;
    }
    .box {
        width: 100%;
        right: -100%;
        border-radius: 0px;
    }
    .close_menu_box {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #981d20 !important;
        font-weight: bold;
        font-size: 16px;
        position: absolute;
        right: 60px;
        font-family: Nunito;
        bottom: 60px;
    }
    .close_menu_box i {
        margin-left: 5px;
    }
    .menu_mail_left .menuList .menu_item {
        padding: 0px 0px 0px 60px;
    }
    .headerBlock {
        position: relative;
        float: left;
        background: #000;
        border-bottom: unset;
    }
}